.grid-area {
  display: grid;     
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 200px;
  grid-auto-flow: dense; 
  font-size: 16px;  
}

.cardstack-item {
  border: 1px solid navy;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(128, 128, 128, 0.295); 
  border-radius: 20px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 15px; 
  max-width: 300px; 
}