.navbar {
    background: navy;
}

.navbar-light, .nav-link {
    color: lightgray;
}

.greeting {
    color: lightgray;
    text-align: center;
}
.navbar-brand {
    color: lightgray;
    text-align: center;
}

#toggle {
    background: rgba(255, 255, 255, 0.459);
}