.navbar {
    background: navy;
}

.navbar-light, .nav-link {
    color: lightgray;
}

.greeting {
    color: lightgray;
    text-align: center;
}
.navbar-brand {
    color: lightgray;
    text-align: center;
}
