.bg-image { 
  background-image: url("../src/images/notes.jpeg"); 
  filter: grayscale(.2);

}

a {
  color: #FFF;
}

a:hover {
  color: navy;
}

button {
  padding: 10px;
  background-color: navy;
  border-radius: 20px;
  color: white;

}

button:hover {
  color: navy;
  background: white;
}
button:active {
  background-color: navy;
  transform: translateY(4px);
}