.list-overflow-container {
  max-height: 500px;
  border-radius: 4px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.list-overflow-container ul {
  margin: 0;
}

.list-overflow-container li {
  border-radius: 0px;
  border-left: none;
  border-right: none;
}

.list-overflow-container li * {
  cursor: pointer;
}

.list-overflow-container li a {
  color: navy;
}

.list-overflow-container li:first-child {
  border-top: none;
}

.list-overflow-container li:last-child {
  border-bottom: none;
}

.cardstack {
  max-width: 450px;
  margin: auto;
  height: auto;
}

.card {
  background-image: url("../../images/stucco.jpg");
  border: 1px solid navy;

}
.list-group-item {
  padding: 10px;
  margin: 3px;
  
}
