/* .grid-home {
  display: grid;     
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  grid-auto-rows: 300px;
  grid-auto-flow: dense; 
  font-size: 16px;  
}

.item {
  border: 1px solid navy;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(128, 128, 128, 0.295); 
  border-radius: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 15px; 
  max-width: 450px; 
} */

.grid-home {
  display: grid;     
  grid-gap: 5px;
  height: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 200px auto;
  grid-template-areas: 
    "t t t t"
    "g g i i"
    "p p f f"
}
.grid-home > div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: grey;
}

.title {
  grid-area: t;
  background: pink;
}
 .gif-translate{
  grid-area: g;
  background: lightgoldenrodyellow;
 }
.instructions{
  grid-area: i;
  background: lightskyblue;
}
.phrase{
  grid-area: p;
  background: lavender;
}
.gif-flash{
  grid-area: f;
  background: lightgrey;
}

.placeholder {
  background: green;
  height: 100px
}