.next-btn {
  float: right;
  color: white;
  background: navy;
  border-radius: 20px;
  cursor: pointer;
  border: 1px solid white;
  padding: 10px;
}

.next-btn:hover {
  background: white;
  color: navy;
}

.next-btn:active {
  background-color: navy;
  transform: translateY(4px);
}